<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: darkblue;
            color: darkyellow;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            background-color: darkyellow;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Predict">
    </form>
</body>
</html>
